@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido a mi portfolio</h1>

<p>¡Hola! Soy [Tu nombre] y este es mi portfolio. Aquí puedes encontrar información sobre mí y ver algunos de mis proyectos.</p>

<p>¡Explora y disfruta!</p>
